body {
	background: white;

}

.background-menu{
	background: #222222;
	height: 52px;
}

*{padding:0;margin:0;}

.caption {
    text-align: center;
}


.thumbnail img {
	width: 300px;
	height: 300px;
}

#le-banner{
	padding-top: 60px;
}

.bg-show{
	background: #eeeeee;
}
/******** footer *********/
.footer-duoi{
	background: #222222;
}

.footer-tren{
	background: #222222;
	padding: 10px 0px 10px 0px;
	color: #cecece;

}

.contact {
	margin-left: 0px;
}

.contact-follow{
	color: white;
	font-style: italic;
}

a:hover, a:focus {
	text-decoration: none;
	background: none;
	color: white;

}

/***** icon footer *****/

.ketnoi-fb{
	color: #cecece;
	font-family: serif;
	margin-left: -10px;
}
.logo{
	margin-top: 5px;
	color: white;
}

.ketnoi-tw{
	color: #cecece;
	margin-left: -10px;
}

.ketnoi-yt{
	color: #cecece;
	margin-left: -10px;
}
/***** end icon footer *****/


/********* end footer **********/

.navfix{
	padding: 15px 0;
	padding-right: 15px;
}

.fluid-fix{
	border: none;
}

.navbar-right{
	float: right !important;
	margin-right: -30px;
}

.navbar-fix{
	border: none;
}